@import "tailwindcss";

/* global body styles */
body {
  @apply bg-gray-100 dark:bg-gray-900 text-gray-900 dark:text-gray-100;
}

/* custom cursor class */
.cursor-custom1 {
  cursor: url("/src/assets/cursor.png") 16 16, auto;
}

.cursor-write {
  cursor: url("/src/assets/write.png") 16 16, auto;
}

/* ตัวอักษรเรืองแสง */
/* Neon outline glow สีฟ้าอ่อน รอบตัวหนังสือ */
.neon-text {
  color: #ffffff; /* ตัวอักษรสีขาวเต็ม */
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;

  /* Glow รอบตัวอักษร */
  text-shadow: 
    0 0 5px #00ffff,
    0 0 10px #00ffff,
    0 0 20px #00ffff,
    0 0 30px #00ffff;

  animation: neonBlink 1.5s infinite alternate;
}

@keyframes neonBlink {
  0% {
    text-shadow: 
      0 0 2px #00ffff,
      0 0 4px #00ffff,
      0 0 6px #00ffff,
      0 0 10px #00ffff;
  }
  50% {
    text-shadow: 
      0 0 5px #00ffff,
      0 0 10px #00ffff,
      0 0 15px #00ffff,
      0 0 25px #00ffff;
  }
  100% {
    text-shadow: 
      0 0 3px #00ffff,
      0 0 6px #00ffff,
      0 0 10px #00ffff,
      0 0 20px #00ffff;
  }
}




